body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    background-color: rgb(147, 62, 164);

}

#input {
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid;
    border-radius: 6px;
    background-color: rgb(59, 58, 58);
    color: white;
    font-size: 30px;
}

#buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    gap: 10px;
    background-color: rgb(59, 58, 58);
    width: 280px;
    padding: 10px;
    border-radius: 8px;

}

#operators {
    display: grid;
    gap: 10px;

}

#operators button {
    background-color: rgb(45, 120, 45);
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#numbers button {
    background-color: black;
}

button {
    font-size: 40px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgb(248, 178, 178);
    color: white;
}
button:hover{
    color: red;
    background-color: rgb(109, 161, 161);
    transform: scale(1.2);
}